<!DOCTYPE html>
<html ng-app="DonorApp">
<head>
    <title>TEST</title>
    <link href="css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-ui-bootstrap/bootstrap-bower-master/ui-bootstrap-tpls.min.js"></script>
    <script src="js/DonorApp/DonorApp.js"></script>
    <script src="js/DonorApp/Controller/AllocationController.js"></script>
    
</head>

<body>
    <style>
        .table-hover tbody tr:hover > td {
            cursor: pointer;
        }
    </style>

    <div class="container" ng-controller="AllocationController">
        <accordion>
            <accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                <accordion-heading>General donation<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i></accordion-heading>
            </accordion-group>

            <accordion-group is-open="status.open">
                <accordion-heading>
                    Shopping basket <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>

                <table class="table">
                    <tr>
                        <th>Item</th>
                        <th>Sub Item</th>
                        <th>Qty</th>
                        <th>Cost</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><select ng-model="allocation.shoppingCategoryList" ng-options="shoppingList as shoppingList.name for shoppingList  in shoppingCategoryList"></select></td>
                        <td><select ng-model="allocation.shoppingSubCategoryList" ng-options="item as (item.unitName + ' £' + (item.unitPrice)) for item in allocation.shoppingCategoryList.shoppingSubCategoryList" ngchange="setSubQtyDefault()"></select></td>
                        <td><input type="number" ng-model="allocation.subqty" ng-required class="input-mini" /></td>
                        <td><input type="number" ng-model="allocation.subcost" ng-disabled="true"></td>
                        <td><a href ng-click="addShoppingItem(allocation.shoppingCategoryList,allocation.shoppingSubCategoryList,allocation.subqty,allocation.subcost)"> <span class="glyphicon glyphicon-plus-sign"></span></a></td>
                    </tr>

                    <tr>suc: {{calculateSubcost()}}</tr>


                    <tr ng:repeat="item in invoice.items">
                        <td>{{item.itemName}}</td>
                        <td>{{item.subitemName}}</td>
                        <td>{{item.qty}} x {{item.unitPrice | currency:"£"}}</td>
                        <td>{{item.cost | currency:"£"}}</td>
                        <td>
                            <a href ng:click="removeItem($index)"><span class="glyphicon glyphicon-remove-circle" /></a>
                        </td>
                    </tr>
                    <div><td>total: {{total()| currency:"£"}}</td></div>

                </table>

            </accordion-group>
        </accordion>
        <button class="btn btn-search" ng-click="getShoppingCategoryList()">
            <span class="glyphicon glyphicon-search"></span>Load Items
        </button>
        <div ng-show="loading" class="loading"><img src="img/ajax-loader.gif">Loading...</div>

       
    </div>   

</body>
</html>